<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Help" type="SmartCon.Help.HelpSection, SmartCon" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <Help>
    <Commands>
      <add key="f" arg="filename" description="Looks for the given file." />
      <add key="h" description="Shows this help page." />
    </Commands>
  </Help>
</configuration>